@font-face {
  /* TF2 font */
  font-family: TF2;
  src: url(TF2.ttf);
}

@font-face {
  /* TF2 build font */
  font-family: TF2build;
  src: url(tf2build.ttf);
}

html {
  background: #2b2724;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html,
body {
  backdrop-filter: blur(4px);
  font-family: TF2, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

hr {
  background: #2b2724;
  border: 0px;
  height: 5px;
}

.unselectable {
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.killicon-container {
  width: 80%;
  height: 500px;
  background: #24201b;
  border-bottom: 4px solid #feedd1;
  border-left: 4px solid #feedd1;
  border-right: 4px solid #feedd1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 0 0 0.5em 0.5em;
  align-content: flex-start;
}

.killicon-container::-webkit-scrollbar {
  background: #feedd1;
  scrollbar-width: thin;
}

.killicon-container::-webkit-scrollbar-thumb {
  background: #534b42;
  border: 2px solid #2b2724;
}

#custom_special {
  margin-bottom: 10px;
}

.list-item {
  width: 5vw;
  height: 3vw;
  margin: 10px;
  background: #776b5f;
  padding: 10px;
  border: 2px solid #ffd700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.selected {
  border: 2px solid #39ff14;
  background: #ad9c8b;
}

.list-item img {
  max-width: 100%;
}
.list-item:hover,
.list-item img {
  cursor: pointer;
}
.main {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.same-size {
  flex-grow: 0.9;
}

.same-size > h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 100;
}

.in-main {
  background: #24201b;
  width: 20vw;
  color: #ebe5cf;
  padding: 20px;
  margin: 10px;
  border: 3px solid #83746d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.in-main p {
  font-family: TF2build, Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="number"] {
  background: #feedd1;
  width: 100%;
  border: 0px;
  font-size: 1.3em;
  height: 1.6em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.chk_boxs {
  display: flex;
  flex-direction: column;
}
.option-checkbox {
  margin-bottom: 1em;
  width: 2em;
}
.sort {
  background: #24201b;
  width: 80%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em 0.5em 0 0;
  border-right: 4px solid #feedd1;
  border-left: 4px solid #feedd1;
  border-top: 4px solid #feedd1;
  border-bottom: 4px solid #feedd1;
}

.sort img {
  width: 4.9em;
}

.sort-btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.sort-class,
.sort-type {
  width: 100%;
}
.sortable-style[data-sort="on"] {
  background-color: #776b5f;
  border: 2px solid #ffd700;
  transition: all linear 0.25s;
}
.sortable-style {
  background-color: #1e1b18;
  border: 2px solid #554a0f;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  transition: all linear 0.25s;
}
.sortable-style:hover {
  cursor: pointer;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

button {
  background: #7e7264;
  font-family: TF2build, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  border: 0px;
  padding: 1rem;
  color: #302c29;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.clr-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clr-show > div {
  width: 40%;
  height: 1rem;
}

.clr-show-l {
  background: #a3574a;
}

.clr-show-r {
  background: #557c83;
}

.custom-text-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 10px auto;
  background-color: #302c29;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #83746d;
  width: fit-content;
  margin-top: 0;
}

.custom-text-selector-container > div {
  background-color: #302c29;
  color: #ebe5cf;
  height: 32px;
  padding: 4px;
  padding-inline: 6px;
  border-radius: 6px;
  margin-inline: 6px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 2px;
}

.custom-text-selector-container > button {
  height: 40px;
  padding: 4px;
}

.custom-text-selector-container > button:hover {
  background-color: #534b42;
  cursor: pointer;
}

.custom-text-title {
  font-size: 1.5em;
  margin-top: 6px;
  margin-bottom: 6px;
}

#custom_special {
  margin-bottom: 0;
  width: 90%;
}

.custom-text-container {
  background-color: #24201b;
  color: #ebe5cf;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-items: center;
  align-items: center;
  border: 3px solid #83746d;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .color-switch button {
    width: 100%;
  }

  .custom-text-selector-container {
    flex-direction: column;
  }

  .in-main {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .in-main p {
    font-size: 1.5em;
  }

  .in-main input {
    font-size: 1.7em;
  }

  .list-item {
    width: 20%;
    height: 10vw;
  }

  .killicon-container {
    width: 80%;
    height: 500px;
    background: #2b2724;
    border-bottom: 4px solid #feedd1;
    border-left: 4px solid #feedd1;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0 0 0.5em 0.5em;
  }

  .sort {
    width: calc(100% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
  #display-feed {
    width: 100%;
  }

  .helper-text {
    display: none;
  }

  #display-feed {
    width: 100%;
  }
  .same-size {
    width: 85%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .color-switch button {
    width: 100%;
  }

  .custom-text-selector-container {
    flex-direction: column;
  }

  .in-main {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .in-main p {
    font-size: 1.5em;
  }

  .in-main input {
    font-size: 1.7em;
  }

  .list-item {
    width: 20%;
    height: 10vw;
  }

  .killicon-container {
    width: calc(100% - 10px);
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .sort {
    width: calc(100% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
  #display-feed {
    width: 100%;
  }

  .helper-text {
    display: none;
  }

  #display-feed {
    width: 100%;
  }
  .same-size {
    width: 85%;
  }
}

@media (max-width: 766px) {
  .color-switch button {
    width: 100%;
  }

  .custom-text-selector-container {
    flex-direction: column;
  }

  .in-main {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .in-main p {
    font-size: 1.5em;
  }

  .in-main input {
    font-size: 1.2em;
  }

  .list-item {
    width: 20%;
    height: 10vw;
  }

  .killicon-container {
    width: calc(100% - 10px);
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .sort {
    width: calc(100% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
  #display-feed {
    width: 100%;
  }

  .helper-text {
    display: none;
  }

  #display-feed {
    width: 100%;
  }
  .same-size {
    width: 85%;
  }
}
