@font-face {
    /* TF2 font */
    font-family: TF2;
    src: url(TF2.ttf);
}

html {
    background: #2b2724;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

html,
body {
    backdrop-filter: blur(4px);
    font-family: TF2, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.same-size {
    width: 100%;
}

#killicon_list {
    width: 80%;
    height: 500px;
    background: #2b2724;
    border-top: 2px solid #83746d;
    border-bottom: 2px solid #83746d;
    border-left: 2px solid #83746d;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#killicon_list::-webkit-scrollbar {
    background: #776b5f;
}

#killicon_list::-webkit-scrollbar-thumb {
    background: #534b42;
    border: 2px solid #f6d62b;
}

.list-item {
    width: 7%;
    height: 12%;
    margin: 10px;
    background: #776b5f;
    padding: 10px;
    border: 2px solid #f6d62b;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.selected {
    border: 2px solid #39ff14;
    background: #ad9c8b;
}

.list-item img {
    max-width: 100%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sort {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.sort img {
    width: 2%;
}

.sort-class,
.sort-type {
    background: #776b5f;
    border: 2px solid #6d6554;
    margin-bottom: 40px;
}

.canvas-container {
    display: flex;
    justify-content: center;
}